.skill {
  flex: 0 1 33.333%;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  @media(max-width: 991px) {
    flex: 0 1 50%;
  }
  @media(max-width: 767px) {
    margin-bottom: 20px;
  }

  &__inner {
    margin: 15px;
    flex-grow: 1;
  }

  &__icon-wrapper {
    background: #5a5a5a;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__icon {
    margin-top: 23px;
    margin-right: 23px;
    width: 90px;
    height: 90px;
    background-color: #505050;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      transform: rotate(45deg);
      max-width: 40px;
      margin: 0 auto;
    }
  }

  &__description{
    padding: 0 15px;
    max-width: 400px;
    margin: 30px auto 15px;
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }


}