.skills {
  min-height: 100vh;
  background-color: #7effdf;
  display: flex;
  align-items: center;
  @media(max-width: 767px){
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__inner {
  }
  &__list{
    display: flex;
    //justify-content: stretch;
    flex-wrap: wrap;
    @media(max-width: 767px){
      flex-direction: column;

    }
  }

}
