.project {
  flex: 0 1 45%;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;

  @media(max-width: 767px) {
    margin-bottom: 20px;
  }

  &__inner {
    padding: 15px;
    background-color: #636363;
    margin: 10px;
    flex-grow: 1;
    box-shadow: 0px 0px 6px black;
    border-radius: 6px;
  }

  &__img {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://comps.canstockphoto.com/calculator-icon-cartoon-style-clip-art-vector_csp53546662.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @media (max-width: 474px){
      min-height: 200px;
    }
  }
}